body{
  font-family: Verdana, Geneva, Arial;
}
html{
  font-size: 12px;
}
h1{
  color: #cc6600;
  font-size: 2.2rem;
  }
h2{
  color: #cc6600;
  font-family: 1.3rem;
  font-weight: normal;
 }

blockquote{
  font-style: italic;
}
h1,h2{
  border-bottom:thin dotted #888888;
}

